.header {
  height: 60px;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-bottom: 2px solid $secondaryColor;
  box-shadow: 0 0 40px 10px rgba(0, 57, 78, 0.1);

  &__name {
    color: $primary;
    font-size: 24px;
    font-family: $fontMontserrat;
    font-weight: 300;
    position: relative;
    
    &:after {
      content: "";
      height: 100%;
      width: 100%;
      background: linear-gradient(to right, #{ $mainColor + '94' }, transparent 50%);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}